.button {
    color: var(--color-primery-light);
    background-color: var(--color-primery-blue);
    border: 2px solid var(--color-primery-blue);
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 14px;
    font-weight: 700;
    font-weight: 600;
    line-height: 21px;
    transition: color 2s;
    transition: background-color 0.2s;
    transition: border color 0.2s;
}

.button:hover {
    color: var(--color-text-primery-dark);
    background-color: var(--color-primery-light);
    /* cursor: not-allowed; */
}