.about-us-section {
    padding-top: 62px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 88px;
}

/* Decoration Stars */
.star-1 {
    position: absolute;
    top: 336px;
    left: 858px;
    fill: var(--color-footer-background);

    animation-name: shining-star-1;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shining-star-1 {
    0% {
        fill: var(--color-footer-background);
        transform: scale(1);
    }

    100% {
        fill: gold;
        transform: scale(1.2);
    }
}

.star-1:hover {
    animation-play-state: paused;
}

.star-2 {
    position: absolute;
    top: 32px;
    left: 1212px;
    fill: var(--color-primery-blue);
    animation-name: shining-star-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shining-star-2 {
    0% {
        fill: var(--color-primery-blue);
        transform: scale(1);
        transform: rotate(0);
    }

    100% {
        fill: gold;
        transform: scale(1.3);
        transform: rotate(180deg);
    }
}

.star-2:hover {
    animation-play-state: paused;
}

.star-3 {
    position: absolute;
    top: 270px;
    left: 1213px;
    fill: var(--color-privacy);

    animation-name: shining-star-3;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shining-star-3 {
    0% {
        fill: var(--color-privacy);
        transform: scale(1);
    }

    100% {
        fill: silver;
        transform: scale(2);
    }
}

.star-1:hover {
    animation-play-state: paused;
}

/* ----------------------*/
.container-about-us {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}

.about-content {
    margin-top: 40px;
    width: 100%;
    max-width: 710px;
}

.about-us-section .title-span {
    text-transform: capitalize;
}

.title-span {
    color: var(--color-primery-blue);
}

.about-title {
    margin-bottom: 40px;
}

.about-us-section p {
    width: 709px;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 40px;
}

.beautyzone {
    font-weight: 700;
    text-transform: capitalize;
}

.about-photos {
    width: 100%;
    max-width: 500px;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-photo-before {
    box-shadow: 0px 4px 4px 0px #a8c6f533;
    border-radius: 163px;
    width: 327px;
    height: 327px;
}

.about-photo-after {
    box-shadow: 0px 4px 4px 0px #a8c6f533;
    border-radius: 163px;
    width: 327px;
    height: 327px;
    align-self: flex-end;
}