.container-why-us {
    padding-top: 88px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

.why-us-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    /* Временный фон */
    /* background-color: lightblue; */
}

.title-box {
    width: 432px;
    height: 148px;
}

.title-why {
    text-align: center;
}

.title-dark {
    color: var(--color-dark);
}

.why-us-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    gap: 56px;
}

.why-us-card {
    width: 316px;
    height: 181px;
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: var(--color-primery-light);
    box-shadow: 0px 4px 4px 0px #a8c6f561;
}

.why-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 252px;
    height: 133px;
    margin: 24px 32px;
}

.why-card-content h5 {
    text-align: center;
}

.why-icon-box {
    width: 48px;
    height: 48px;
}

.why-content-box {
    width: 252px;
    height: 133px;
}