:root {
    --color-text-primery-dark: #011c44;
    --color-primery-light: #ffffff;
    --color-primery-blue: #2b7fff;
    --color-dark: #000000;
    --color-privacy: #747272;
    --color-consultation: #4a4a4a;
    --color-footer-background: #011f4a;
}