* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    color: var(--color-text-primery-dark);
    background-color: var(--color-primery-light);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin: 0 auto;
    position: relative;
    /* Background central section */
    background-image: url(../Images/background-wave.png);
    background-repeat: no-repeat;
    background-position: center 1450px;
    /* --------------------------- */
}

/* For all section */
.title {
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
}