/* -----------BEAUTY ZONE----------------- */
@import './utils/_fonts.scss';
@import './utils/_variables.scss';
@import './_base.scss';
@import './utils/_utils.scss';

@import './components/buttons';

@import './layouts/_header.scss';
@import './layouts/_main-section.scss';
@import './layouts/_about-us-section.scss';
@import './layouts/_why-us-section.scss';
@import './layouts/_our-procedures-section.scss';
@import './layouts/_contacts-section.scss';
@import './layouts/_footer.scss';
@import './layouts/_modal.scss';
@import './layouts/_form-terms';




